.calculator{
    display: flex;
    flex-direction: column;
    width:390px;
    height: 800px ;
}

.screen{
    height: 150px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
}
.button{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-width: 0px;
    color: white;
    font-size: 42px;

}
.number{
    background-color: grey;
}
.operator{
    background-color: orange;
}
.option{
    background-color: lightgrey;
}
